@charset "UTF-8";

body {
  margin:0;
  padding: 0;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #3C201D;
}
/*フェードインアニメーション*/

body {
    animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
#slideshow {
  list-style-type: none;
  pointer-events: none;
  position: relative;
}
#slideshow > li {
  opacity: 0;
  position: absolute;
  transition: opacity 5s;
}
#slideshow > li.current {
  opacity: 1;
}
#slideshow > li > img {
	width: 100%;
	height: 100%;
}

.header, .footer {
	background-color: #fff;
	text-align: center;
}
.header {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__logo, .footer__logo {
	width: 90px;
}

.mainvis {
	height: 65vw;
	margin-top: 90px;
}
.mainvis h1 {
	position: absolute;
	z-index: 20;
	top: 60px;
  left: 100px;
  font-size: 40px;
}
.mainvis h1 span {
	letter-spacing: 0.1em;
  font-size: 50px;
}
.ruby {
	font-size: 18px !important;
}
.txtarea--pu {
	background-color: #AB74A1;
	padding: 60px 0;
	text-align: center;
	position: relative;
	z-index: 10;
}
.ttl--wh {
	font-size: 30px;
	color :#fff;
	margin-bottom: 60px;
}
.txt--wh {
	font-size: 20px;
	color: #fff;
}
.sec {
	padding: 100px 0;
	text-align: center;
}
.sec-01 {
	background-color: #F5DDFF;
	padding-bottom: 200px;
}
.sec__ttl {
	font-size: 30px;
	line-height: 3;
	display: inline-block;
}
.sec-01__ttl {
	border-top: solid 3px #3C201D;
	border-bottom: solid 3px #3C201D;
}
.sec-01__list {
	width: 100%;
	margin: 100px 0 0;
}
.sec-01__item {
	width: 100%;
	display: flex;
  position: relative;
}
.sec-01__item:not(:last-child) {
	margin-bottom: 150px;
}
.sec-01__item--reverse {
	flex-flow: row-reverse;
}
.sec-01__imgarea {
	width: 60%;
}
.sec-01__imgarea img{
	width: 100%;
}
.sec-01__txtarea {
	padding: 50px;
	text-align: left;
  width: 510px;
	z-index: 10;
  position: absolute;
  background-color: rgba(255,255,255,0.85);
  right: 2vw;
  top: 0px;
}
.sec-01__txtarea--reverse {
	left: 2vw;
}
sec-01__txtbox {
	position: relative;
  padding:0.25em 1em;
}
.sec-01__txtbox:before,.sec-01__txtbox:after{ 
  content:'';
  width: 20px;
  height: 30px;
  position: absolute;
  display: inline-block;
}
.sec-01__txtbox:before{
  border-left: solid 1px #3C201D;
  border-top: solid 1px #3C201D;
	top: 30px;
  left: 30px;
}
.sec-01__txtbox:after{
  border-right: solid 1px #3C201D;
  border-bottom: solid 1px #3C201D;
  bottom: 30px;
  right: 30px;
}
.sec-01__txtbox p {
  margin: 20px 0; 
  padding: 0;
  font-size: 18px;
}
.sec-01__sttl {
	font-size: 25px !important;
}

.sec-02 {
	background-image: url("images/sec-02-bg.jpg");
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
}
.sec-02__ttl, .sec-03__ttl {
	color: #fff;
	border-top: solid 3px #fff;
	border-bottom: solid 3px #fff;
}
.sec-02__txtarea {
	color: #fff;
	width: 750px;
	margin: 60px auto 0;
	text-align: left;
	font-size: 18px;
}
.sec-02__txtarea span {
	font-weight: bold;
}
.sec-02__txtarea p{
	margin: 40px 0 0; 
}

.sec-03 {
	background-color: #AB74A1;
}
.sec-03__flexbox {
	display: flex;
	width: 100%;
}
.sec-03__imgarea {
	width: 50%;
	margin: 50px 30px 50px 0;
}
.sec-03__imgarea img {
	width: 100%;
}
.sec-03__txtarea {
	width: 40%;
  margin: auto;
}
.sec-03__txt {
	text-align: left;
	font-size: 18px;
}
.btn {
	border-radius: 3px;
	font-size: 18px;
	width: 450px;
	text-decoration: none;
	padding: 20px 0;
  display: inline-block;
  margin: 30px auto 0;
  transition: opacity 0.5s;
}
.btn:hover {
	opacity: 0.5;
}
.btn--top {
	text-align: center;
  width: 220px;
  color: #3C201D;
  border: 2px solid #3C201D;
  background: #fff;
  top: 400px;
  left: 100px;
  z-index: 20;
  position: absolute;
}
.btn--wh {
	background-color: #fff;
	color: #AB74A1;
}
.btn--pu {
	background-color: #AB74A1;
	color: #fff;
}

.sec-04 {
	background-color: #F5DDFF;
}
.sec-04__form {
	width: 750px;
	margin: 80px auto;
}
.form__item {
	font-weight: bold;
	font-size: 20px;
	line-height: 4;
}
.form__required {
	color: #fff;
  font-weight: bold;
  background-color: #FF7B7B;
  display: inline-block;
  line-height: 2;
  padding: 0 20px;
}
input {
	outline: none;
  line-height: 2.5;
  width: 30em;
}
input:focus {
	border: 1px solid #AB74A1;
}

#page-top {
  width: 100px;
  height: 120px;
  position: fixed;
  right: -100px;
  bottom: 50px;
  z-index: 20;
  transition: opacity 0.5s;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.4));
}
#page-top:hover {
	opacity: 0.5;
}

.toggle-switch {
  margin-bottom: 5px;
}
.border {
  position: relative;
  background: #2B2D42;
  width: 100px;
  height: 50px;
  display: block;
  border-radius: 25px;
  cursor: pointer;
  text-indent: -9999px;
  margin: auto;
}
.border::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: #fff;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transition-duration: 0.2s;
}
.button:checked + .border {
  background: #D81543;
}
.button:checked + .border::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.button {
  display: none;
}
.border:active::after {
  width: 50%;
}
.toggle-switch.special .button:checked + .border {
  background: #8C618D;
}

.to-form {
  display: inline-block;
  position: fixed;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  padding: 0 30px;
  font-size: 30px;
  font-family: 'Bad Script', cursive;
  background: #FF7B7B;
  color: #FFF;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 50;
  top: 50px;
  right: 50px;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.4));
}
.to-form:hover {
	box-shadow: none;
	transition: box-shadow 0.2s;
}
.to-form:before, .to-form:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
.to-form:before{
  top: 0;
  left: -20px;
  border-width: 30px 20px 30px 0px;
  border-color: transparent #FF7B7B;
  border-style: solid;
}
.to-form:after{
  top: 0;
  right: -20px;
  border-width: 30px 20px 30px 0px;
  border-color: #FF7B7B transparent;
  border-style: solid;
}
@media screen and (max-width:480px){
	.txt--wh {
		font-size: 16px;
	}
}